/* Setting colours for light and dark modes */
/* Style colours and themes taken from UQ COMP2140 Matt Luscombe */
:root {
	--purpleColorLighter: #a42de8;
	--purpleColorPale: #e1aeff;
	--blueColorLighter: #318aff;
	--blueColorDarker: #2d3de8;

	--bgColor: #ffffff;
	--fgColor: #800080;
	--fgColorLighter: rgba(128, 0, 128, 0.5);
	--headerTextColor: var(--fgColor);
	--headerBackgroundColor: var(--purpleColorPale);
	--textOnTheme: #000;
	--textOffTheme: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #422142;
		--fgColor: #f0c4f0;
		--fgColorLighter: rgba(210, 169, 210, 0.5);
		--headerBackgroundColor: var(--purpleColorLighter);
		--headerTextColor: var(--fgColor);
		--textOnTheme: #ffffff;
		--textOffTheme: #000;
	}
}

/* General Settings */
body {
	background-color: var(--bgColor);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--headerBackgroundColor);
	padding: 1rem;
}

header h1 {
	color: var(--headerTextColor);
	font-size: 2rem;
}

/* Goal Page */
div div {
	border-radius: 1rem;
}
.goals {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--fgColor);
}
.listOfGoals {
	display: flex;
	align-content: space-between;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.goalCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--bgColor);
	margin: 1rem;
	width: 90%;
	overflow: hidden;
}

@media screen and (min-width: 800px) {
	.goalCard {
		justify-content: space-evenly;
	}
}

.goalCard h1 {
	font-size: 2rem;
	margin: 1rem;
	text-align: center;
	color: var(--textOnTheme);
}

.addNewGoal {
	margin: 1rem;
	padding: 1rem;
	background-color: gray;
	width: 72%;
}

/* Pie code from https://www.freecodecamp.org/news/css-only-pie-chart/ */
@property --p {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
.pie {
	--p: 90;
	--b: 22px;
	--c: var(--blueColorLighter);
	--w: 150px;

	width: var(--w);
	aspect-ratio: 1;
	position: relative;
	display: inline-grid;
	margin: 5px;
	place-content: center;
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	color: var(--textOnTheme);
}
.pie:before,
.pie:after {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.pie:before {
	inset: 0;
	background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
		conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
	mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}
.pie:after {
	inset: calc(50% - var(--b) / 2);
	background: var(--c);
	transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}
.animate {
	animation: p 1s 0.5s both;
}
.no-round:before {
	background-size: 0 0, auto;
}
.no-round:after {
	content: none;
}
@keyframes p {
	from {
		--p: 0;
	}
}
